# Copy this file to ".env" and fill in your real values.
# Never commit the actual ".env" file to git or share it with anyone.

TG_API_ID=30566561
TG_API_HASH=0bd4a8eb6d4f1fc1b455ee54b7324a51
CUELINKS_API_KEY=76mvB6RxdrJfKPkOTPHjnXLxMCuBS7IG6vYibvYVg50

# Optional overrides (defaults shown match your current setup)
SOURCE_CHANNEL=indian_online_offer
DEST_CHANNEL=dailyofferguru
TG_SESSION_NAME=deal_forwarder


AMAZON_TAG=krishivbhak02-21

OPENWA_API_URL=http://localhost:2785/api
OPENWA_API_KEY=owa_k1_88f257907cad16e08ea4444cb7bacf2227945c424d3884c51837f9d38bad6bc4
OPENWA_SESSION_ID=2e6ec6e0-2de6-452a-9fc6-a66673647501

WHATSAPP_GROUP_ID=120363429691941248@g.us

TG_BOT_TOKEN=8750841454:AAFNMFCGnK8bB1WHSJpgNSrwfdSyCAy5Gyw

TG_CHANNEL_PAIRS=indian_online_offer:dailyofferguru,offersandloafers:dailyofferjunction,amazinglootsdealsoffers:worldBestOfferZone